MP_ACCESS_TOKEN=
PRICE_ARS=12999
PRODUCT_NAME=Mudarte sin equivocarte: Guía de interiorismo
BASE_URL=http://localhost:3000
TOKEN_EXPIRY_HOURS=24
PDF_FILENAME=Mudarte bien sin equicarte Guía paso a paso.pdf
PORT=3000
